.page404 {
  position: relative;
  // height: 40rem;
  padding: 0.5rem;
  background: linear-gradient(
    180deg,
    rgb(0, 0, 0) 0%,
    rgb(0, 51, 102) 86%,
    rgb(0, 51, 102) 100%
  );
  &__section {
    text-align: center;
    padding-top: 5rem;
    position: relative;
    z-index: 3;
    &__title {
      color: #bdcee2;
      font-size: 2.5rem;
    }
    &__btn {
      margin-top: 2rem;
      padding: 0.5rem;
      width: 45%;
      height: 2.5rem;
      font-size: 1.5em;
      font-weight: bold;
      border-radius: 0.2rem;
      border: none;
      text-align: center;
      transition-property: background-color;
      transition-duration: 0.4s;
      transition-timing-function: ease-in-out;
      &:hover {
        background-color: transparent;
        color: #bdcee2;
        cursor: pointer;
        border: 1px solid #bdcee2;
      }
    }
  }
}

@media (max-width: 600px) {
  .page404 {
    height: 25rem;
    &__particles {
      height: 25rem;
    }
    &__section {
      text-align: center;
      padding-top: 5rem;
      &__title {
        color: #bdcee2;
        font-size: 0.9rem;
      }
      &__btn {
        padding: 0.5rem;
        width: 70%;
        height: 2.5rem;
        font-size: 0.9em;
      }
    }
  }
}
