.statistiques {
  position: relative;
  z-index: 3;
  color: #66A599;
  margin: auto;
  animation: fadein 3s;
  -moz-animation: fadein 3s; /* Firefox */
  -webkit-animation: fadein 3s; /* Safari et Chrome */
  -o-animation: fadein 3s; /* Opera */
  &__section {
    padding: 1.5rem;
    &__title {
      font-size: 2.3em;
    }
    &__item {
      font-size: 2em;
      padding-left: 3rem;
    }
    & span, & h1 {
      color: #BDCEE2;
    }
  }
  &__btn {
    display: block;
    padding: 0.5rem;
    margin: 3rem 2rem auto auto;
    width: 45%;
    height: 2.5rem;
    font-size: 1.5em;
    font-weight: bold;
    border-radius: 0.2rem;
    border: none;
    text-align: center;
    transition-property: background-color;
    transition-duration: 0.4s;
    transition-timing-function: ease-in-out;
    &:hover {
      background-color: transparent;
      color: #BDCEE2;
      cursor: pointer;
      border: 1px solid #BDCEE2;
    }
  }
}

@media (max-width: 1000px) {
  .statistiques {
    &__section {
      padding: 0.5rem;
      &__title {
        font-size: 1.8em;
      }
      &__item {
        font-size: 1.4em;
        padding-left: 3rem;
      }
      & span, & h1 {
        color: #BDCEE2;
      }
    }
    &__btn {
      display: block;
      padding: 0.5rem;
      margin: 3rem 0rem auto auto;
      width: 45%;
      height: 2.5rem;
      font-size: 1.5em;
    }
  }
}
@media (max-width: 750px) {
  .statistiques {
    &__section {
      padding: 0.5rem;
      &__title {
        font-size: 1.5em;
      }
      &__item {
        font-size: 1.1em;
        padding-left: 2.5rem;
      }
      & span, & h1 {
        color: #BDCEE2;
      }
    }
    &__btn {
      display: block;
      padding: 0.5rem;
      margin: 3rem 0rem auto auto;
      width: 45%;
      height: 2rem;
      font-size: 1em;
    }
  }
}
@media (max-width: 600px) {
  .statistiques {
    &__section {
      padding: 0.5rem;
      &__title {
        font-size: 1em;
      }
      &__item {
        font-size: 0.8em;
        padding-left: .5rem;
      }
      & span, & h1 {
        color: #BDCEE2;
      }
    }
    &__btn {
      display: block;
      padding: 0.5rem;
      margin: 3rem 0rem auto auto;
      width: 60%;
      height: 2rem;
      font-size: 0.8em;
    }
  }
}
@media (max-width: 400px) {
  .statistiques {
    &__section {
      padding: 0.1rem;
      &__title {
        font-size: 0.8em;
      }
      &__item {
        font-size: 0.6em;
        padding-left: 0.1rem;
      }
      & span, & h1 {
        color: #BDCEE2;
      }
    }
    &__btn {
      display: block;
      padding: 0.5rem;
      margin: 3rem 0rem auto auto;
      width: 60%;
      height: 2rem;
      font-size: 0.8em;
    }
  }
}
@keyframes fadein {
  from {
      opacity:0;
  }
  to {
      opacity:1;
  }
}
@-moz-keyframes fadein { /* sur Firefox */
  from {
      opacity:0;
  }
  to {
      opacity:1;
  }
}
@-webkit-keyframes fadein { /* sur Safari et Chrome */
  from {
      opacity:0;
  }
  to {
      opacity:1;
  }
}
@-o-keyframes fadein { /* sur Opera */
  from {
      opacity:0;
  }
  to {
      opacity: 1;
  }
}