.header {
  height: 55rem;
  background-image: url('../../assets/bg.webp');
  background-position: 50% 100%;
  background-size: cover;
  padding: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  &__title {
    width: 35%;
    font-size: 8vw;
    color: #F0F4F5;
    & span {
      color: #BDCEE2;
      display: block;
    }  
  }
  &__infos {
    align-self: flex-end;
    list-style: none;
    width: 35%;
    color: #F0F4F5;
    padding-bottom: 0.5rem;
    & span {
      color: #BDCEE2;
    }
    & li {
      font-size: 2vw;
      padding-top:  1.5rem;
    }
  }
}