.header {
  background-image: url('../../assets/bg.webp');
  background-position: bottom;
  background-size: cover;
  justify-content: space-around;
  display: flex;
  flex-wrap: wrap;
  padding: 10rem 0;
  &__title {
    display: none;
    padding: 5rem 2rem;
    // flex: 50%;
    font-size: 7rem;
    color: rgb(240, 244, 245);
    text-shadow: -9px 13px 8px rgba(0, 0, 0, 1);
    // display: inline-block;
    & span {
      color: #BDCEE2;
      display: block;
    }  
  }
  &__infos {
    text-align: end;
    padding-right: 2rem;
    display: inline-block;
    // flex: 50%;
    text-shadow: 13px 9px 8px rgba(0, 0, 0, 1);
    color: #F0F4F5;
    font-size: 2rem;
    & span {
      color: #BDCEE2;
    }
  }
}


@media (min-width: 1200px ) {
  .header {
    &__title {
      display: block;
    }
    // height: 40rem;
  }
}
// @media (max-width: 600px ) {
//   .header {
//     height: 30rem;
//     &__infos {
//       top: 15rem;
//       //font-size: 2.5vw;
//     }
//   }
// }

// @media (max-width: 450px ) {
//   .header {
//     height: 20rem;
//     background-image: url('../../assets/bg.webp');
//     background-position: 50% 100%;
//     background-size: cover;
//     position: relative;
//     &__title {
//       //font-size: 8vw;
//       color: rgb(240, 244, 245);
//       text-shadow: -9px 13px 8px rgba(0, 0, 0, 1);
//       position: absolute;
//       left: 1rem;
//       top: 9rem;
//       & span {
//         color: #BDCEE2;
//         display: block;
//       }  
//     }
//     &__infos {
//       position: absolute;
//       right: 0rem;
//       top: 10rem;
//       text-shadow: 13px 9px 8px rgba(0, 0, 0, 1);
//       color: #F0F4F5;
//       //font-size: 2.5vw;
//       font-weight: bold;
//       padding: 0.5rem;
//       & span {
//         color: #BDCEE2;
//       }
//       & p {
//         margin-left: 0.2rem;
//       }
//     }
//   }
// }