.formInput {
  padding-top: 5rem;
  width: 60%;
  margin: auto;
  text-align: center;
  position: relative;
  z-index: 3;
  animation: fadein 3s;
  -moz-animation: fadein 3s; /* Firefox */
  -webkit-animation: fadein 3s; /* Safari et Chrome */
  -o-animation: fadein 3s; /* Opera */
  &__title {
    color: #BDCEE2;
    font-size: 2.2vw;
    padding: 0.5rem;
    text-align: center;
  }
  &__form {
    &__inputs {
      padding: 1rem;
      display: flex;
      justify-content: space-between;      
    }
    &__input{
      width: 45%;
      height: 3.5vh;
      font-size: 1.5vw;
      border-radius: 0.2rem;
      border: none;
      font-weight: bold;
      text-align: center;
      background-color: #BDCEE2;
      transition-property: background-color;
      transition-duration: 0.4s;
      transition-timing-function: ease-in-out;
      color: #757575;
      &::placeholder{
        font-size: 100%;
        text-align: center;
      }
      &:hover, &:focus, &:valid{
        background-color: transparent;
        cursor: pointer;
        border: 1px solid #BDCEE2;
        color: #BDCEE2;
        &::placeholder{
          color: #BDCEE2;
        }
      }
    }
    &__submit {
      padding: 5rem;
      & button {
        width: 45%;
        height: 2.5rem;
        font-size: 1.5rem;
        font-weight: bold;
        border-radius: 0.2rem;
        border: none;
        text-align: center;
        transition-property: background-color;
        transition-duration: 0.4s;
        transition-timing-function: ease-in-out;
        &:hover {
          background-color: transparent;
          color: #BDCEE2;
          cursor: pointer;
          border: 1px solid #BDCEE2;
        }
      }
    }
  }
}

@media (max-width: 800px ) {
  .formInput {
    &__title {
      font-size: 3vw;
    }
    &__form {
      &__input{
        height: 3.5vh;
        font-size: 2vw;
      }      
    }
  }
}
@media (max-width: 600px ) {
  .formInput {
    padding-top: 2rem;
    &__form {
      &__inputs {
        padding: 1rem;
        display: flex;
        justify-content: space-between;      
      }
      &__submit {
        padding: 3rem;
        & button {
          width: 80%;
          font-size: 1rem;
        }
      }
    }
  }
}

@keyframes fadein {
  from {
      opacity:0;
  }
  to {
      opacity:1;
  }
}
@-moz-keyframes fadein { /* sur Firefox */
  from {
      opacity:0;
  }
  to {
      opacity:1;
  }
}
@-webkit-keyframes fadein { /* sur Safari et Chrome */
  from {
      opacity:0;
  }
  to {
      opacity:1;
  }
}
@-o-keyframes fadein { /* sur Opera */
  from {
      opacity:0;
  }
  to {
      opacity: 1;
  }
}