.formInput {
  padding-top: 5rem;
  width: 60%;
  margin: auto;
  text-align: center;
  &__title {
    color: #BDCEE2;
    font-size: 2rem;
    padding: 0.5rem;
    text-align: center;
  }
  &__form {
    &__inputs {
      padding: 1rem;
      display: flex;
      justify-content: space-between;      
    }
    &__input{
      width: 40%;
      height: 2.5rem;
      font-size: 1.5rem;
      border-radius: 0.2rem;
      border: none;
      text-align: center;
      background-color: #BDCEE2;
      transition-property: background-color;
      transition-duration: 0.4s;
      transition-timing-function: ease-in-out;
      color: #757575;
      &::placeholder{
        font-size: 1.5rem;
        text-align: center;
      }
      &:hover, &:focus, &:valid{
        background-color: transparent;
        cursor: pointer;
        border: 1px solid #BDCEE2;
        color: #BDCEE2;
        &::placeholder{
          color: #BDCEE2;
        }
      }
    }
    &__submit {
      padding: 5rem;
      & button {
        width: 40%;
        height: 2.5rem;
        font-size: 1.5rem;
        border-radius: 0.2rem;
        border: none;
        text-align: center;
        transition-property: background-color;
        transition-duration: 0.4s;
        transition-timing-function: ease-in-out;
        &:hover {
          background-color: transparent;
          color: #BDCEE2;
          cursor: pointer;
          border: 1px solid #BDCEE2;
        }
      }
    }
  }
}
