.footer {
  background-color: rgb(0,0,0);
  display: flex;
  width: 100%;
  position: relative;
  z-index: 1;
  justify-content: space-evenly;
  align-items: center;
  padding: 1rem;
  & h1 {
    font-size: 1.5rem;
    transition-property: color;
    transition-timing-function: ease-in-out;
    transition-duration: 0.3s;
    -webkit-transition-property: color;
    -webkit-transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-in-out;
    color: #BDCEE2;
    text-decoration: none;
    &:hover {
      color: #66A599;
    }
  }
  &__divider {
    width: 0.1rem;
    height: 7rem;
    background-color: #BDCEE2;
  }
}


@media (max-width: 800px) {
  .footer {
    background-color: rgb(0,0,0);
    display: block;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    padding: 1.5rem;
    &__divider {
      margin-top: 1rem;
      width: 50vw;
      height: 0.1rem;
      transform: rotateX(180deg);
    }
  }
}