.display {
  background: linear-gradient( 180deg, rgb(0,0,0) 0%, rgb(0,51,102) 86%, rgb(0,51,102) 100%);
  position: relative;
  height: 55rem;
  z-index: 1;
  &__particles {
    position: absolute;
    width: 100%;
    top:0;
    left:0;
    z-index:2;
  }
}