.display {
  background: linear-gradient( 180deg, rgb(0, 0, 0) 0%, rgb(0,51,102) 86%, rgb(0,51,102) 100%);
  position: relative;
  height: 55rem;
  z-index: 1;
  padding: 0.5rem;
  &__particles {
    position: absolute;
    width: 100%;
    height: 55rem;
    top:0;
    left:0;
    z-index:2;
  }
}

@media (max-width: 600px) {
  .display {
    height: 25rem;
    &__particles {
      height: 25rem;
    }
  }
}