body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Lobster Two', cursive;
}

/* .bg {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 2480px;
  height: 3543px;
  z-index: 35;
}
.Rectangle_3 {
  background-image: -moz-linear-gradient( -90deg, rgb(0,0,0) 0%, rgb(0,51,102) 86%, rgb(0,51,102) 100%);
  background-image: -webkit-linear-gradient( -90deg, rgb(0,0,0) 0%, rgb(0,51,102) 86%, rgb(0,51,102) 100%);
  background-image: -ms-linear-gradient( -90deg, rgb(0,0,0) 0%, rgb(0,51,102) 86%, rgb(0,51,102) 100%);
  position: absolute;
  left: -226px;
  top: 1624px;
  width: 2912px;
  height: 1974px;
  z-index: 4;
} */
